<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="Port" value="9100"/>
    <add key="IPAddress" value="192.168.100.23"/>
    <add key="PathSave" value="C:\\Sources\\Recei\\LOG\\9011\"/>
    <!-- C:\\-->
    <add key="DeCODE" value="0"/>
    <!-- 0: Default 1: Convert Hexa -->
    <add key="deviceID" value="4"/>
    <add key="PROCEDURE" value="INSERTEVENTLOG_G"/>
    <add key="StringT" value="#1:,#2:"/>
    
    <add key="WriteLog" value="1"/>
    <!-- 0: OFF 1: Write Log -->
    <add key="WriteErrorLog" value="1"/>
    <!-- 0: OFF 1: Write Log -->
    <add key="WriteLogDatabase" value="1"/>
    <!-- 0: OFF 1: Write Log -->
    <add key="PushDB" value="1"/>
    <!-- 0: OFF 1: Push DB -->
    <add key="timeRestart" value="1"/>
    <!-- 1 giờ khởi động lại -->
    <add key="connectionString"
      value="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.100.21)(PORT =1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME =orcl)));Password=1521cban;User ID=GPSTRACKING;"/>
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
     <add key="VS" value="2018.06.01"/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>